.homePage__content {
    gap: 4rem;
    padding: 2.5rem;
}
.homePage__content h1 {
    font-size: 25px;
    font-family: "Sora", sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    padding-bottom: 2rem;
}