.post__card {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-bottom: 1.8rem;
    height: 180px;
    border: none;
}
.post__card .post__content {
    flex: 8;
}
.post__card .post__content h1 {
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.9);
    padding-top: 1rem;
}
.post__card .post__content p {
    font-size: 18px;
    font-weight: normal;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.9);
}
.post__card .post__owner {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    align-content: center;
}
.post__card .post__owner span {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.7);
}
.post__card .user__avatar {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.post__card .post__image {
    flex: 4;
}
.post__card .post__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}