.post__card {
    width: 350px;
    
}
.post__card .post__content h1 {
    font-size: 23px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.9);
    padding-top: 1rem;
}
.post__card .post__content p {
    font-size: 17px;
    font-weight: normal;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.9);
}
.post__card .post__owner {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    padding: 8px;
}
.post__card .post__owner span {
    font-size: 15px;
    font-family: "Sora", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.7);
}
.post__card .user__avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: contain;
}